<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
  <div class="container">
    <a class="navbar-brand fw-light" href="/">Employee Management System</a>
    <div class="d-flex dropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
      </ul>
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="/admin/img/avatar.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong><%= username %></strong>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-dark text-small shadow"
        aria-labelledby="dropdownUser1"
      >
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <button
            class="dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Sign out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sign out</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure that you would like to sign out from the admin page?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <form method="POST" action="/api/auth/logout?method=DELETE">
          <button class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>
