<h2 class="text-center">Create new employee</h2>
<div class="row">
  <div class="col-6 mx-auto">
    <form action="/api/users/?method=POST" method="post">
      <label for="basic-url" class="form-label">First name</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3 basic-addon4"
          name="firstname"
        />
      </div>
      <label for="basic-url" class="form-label">Last name</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3 basic-addon4"
          name="lastname"
        />
      </div>
      <label for="basic-url" class="form-label">Birth</label>
      </br>
      <label for="basic-url" class="form-label">Gender</label>
      </br>
      <label for="basic-url" class="form-label">Civil ID</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3 basic-addon4"
          name="civilid"
        />
      </div>
      <label for="basic-url" class="form-label">Phone number</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3 basic-addon4"
          name="phonenum"
        />
      </div>
      <label for="basic-url" class="form-label">Address</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3 basic-addon4"
          name="address"
        />
      </div>
      <label for="basic-url" class="form-label">Department</label>
      <button type="submit" class="btn btn-primary mt-2 w-100">Create</button>
    </form>
  </div>
</div>
