<h2 class="text-center">Create new user</h2>
<div class="row">
  <div class="col-6 mx-auto">
    <form action="/api/users/?method=POST" method="post">
      <label for="basic-url" class="form-label">Email address</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3 basic-addon4"
          name="email"
        />
      </div>
      <div class="form-text" id="basic-addon4">
        The invitation link will be send to that address.
      </div>
      <button type="submit" class="btn btn-primary mt-2 w-100">
        Send invitation
      </button>
    </form>
  </div>
</div>
